In [ ]:
import requests

In [ ]:
toptv_imdb = requests.get('https://www.imdb.com/chart/tvmeter?sort=rk,asc&mode=simple&page=1')
print(page, page.status_code)

In [ ]:
from bs4 import BeautifulSoup
soup =

In [ ]:
twitter = requests.get("https://api.twitter.com/1.1/search/tweets.json")

In [ ]:
import mysql.connector
import config

cnx = mysql.connector.connect(
        host = config.host,
        user = config.user,
        password = config.password,
)
cursor = cnx.cursor()

In [ ]:
db_name = 'Television Shows'

In [ ]:
cursor.execute("CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(db_name))
cursor.close()
cnx.close()

In [ ]:
TABLES = {};
TABLES["shows"] = ("""
      CREATE TABLE shows (
      business_id varchar(50) NOT NULL UNIQUE,
      name varchar(50) NOT NULL,
      review_count int(4) NOT NULL,
      user_score float(3) NOT NULL,
      rating varchar(8) NOT NULL,
      seasons int(2) NOT NULL,
      genre varchar(25) NOT NULL,
      network varchar (10) NOT NULL,
      PRIMARY KEY (business_id)
      )
""")